/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jbar.colors
 *= require jbar
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffffff;
  padding-bottom: 50px;
  padding-top: 60px;
}

#footer {
  background-color: #2E2E2E;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  text-align: center;
  padding-top: 20px;
}

#footer p {
  text-shadow: 0 1px 0 #000;
  color: #999;
}